@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
.nav {
  width: 100%;
  background-color: transparent;
}
.nav img {
  height: 95px;
  width: 80px;
}
.cursor {
  height: 25px;
  width: 25px;
  background-color: #95c11e;
  position: fixed;
  border-radius: 50%;
}
.cursor-blur {
  height: 300px;
  width: 300px;
  background-color: #96c11e2b;
  position: fixed;
  border-radius: 50%;
  filter: blur(40px);
  z-index: 9;
}
.nav {
  height: 145px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding-left: 150px;
  position: fixed;
  z-index: 99;
  color: #fff;
}
video {
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
.main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.35);
}
#page1 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.arrow {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  left: -42px;
  top: 400px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  color: #fff;
  border: 2px solid #119f3a;
  align-items: center;
}
.arrow i {
  font-size: 4rem;
}
.arrow:hover {
  scale: 1;
  background-color: #119f3a;
}
#page1 h1 {
  font-size: 110px;
  font-weight: 500px;
  position: relative;
  color: #fff;
}
#page1 h3 {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}
#page1 h4 {
  font-size: 20px;
  padding: 10px;
  color: #fff;
  text-align: center;
}
#page1 h1::before {
  content: "Eat.Drink.Play.";
  position: absolute;
  color: #000;
  top: -4px;
  left: -4px;
  z-index: -1;
  -webkit-text-stroke: 3px #95c11e;
}
.page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
}
.scroller {
  height: 120px;
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
.scroller-in {
  display: inline-block;
  animation-name: scroll;
  animation-duration: 30s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.scroller-in h4 {
  display: inline-block;
  white-space: nowrap;
  font-size: 6rem;
  font-weight: 900;
  transition: all linear 0.3s;
  margin-right: 10px;
  color: #000;
  -webkit-text-stroke: 2px #95c11e;
}
.scroller-in h4:hover {
  color: #95c11e;
  -webkit-text-stroke: 2px #95c11e;
}
.scroller::-webkit-scrollbar {
  display: none;
}
@keyframes scroll {
  from {
    transform: translatex(0);
  }
  to {
    transform: translatex(-100%);
  }
}
#about-us {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: relative;
  z-index: 10;
}
.about-us-in h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
  font-size: 3.4rem;
  font-weight: 800;
}
.about-us-in p {
  font-size: 1.2rem;
}
.about-us-in {
  color: #fff;
  width: 50%;
}
#about-us img {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  object-fit: cover;
}
.cards-containor {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 70px;
  z-index: 10;
  position: relative;
}
.card {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  background-size: cover;
  transition: all ease 0.4s;
}
#card1 {
  background-image: url(https://raw.githubusercontent.com/saarthack/sidcup-family-golf/refs/heads/main/Assests/card1.avif);
}
#card2 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card3 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.overlay {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-size: cover;
  background-color: #95c11e;
  padding: 40px;
  opacity: 0;
  transition: all ease 0.4s;
}
.overlay h2 {
  font-size: 2rem;
  font-weight: 600;
}
.overlay p {
  font-size: 18px;
}
.card .overlay:hover {
  opacity: 1;
}
.card:hover .overlay {
  opacity: 1;
}
.card:hover {
  transform: rotate3d(1, 1, 0, 20deg);
}
.green-div {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left bottom, #119f3a, #ace022);
}
.green-div h4 {
  color: #000;
  line-height: 45px;
  text-align: center;
  width: 45%;
  font-size: 24px;
  font-weight: 700;
}
.green-div img {
  height: 100%;
  object-fit: cover;
  width: 14%;
}
.page3 {
  height: 100vh;
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  position: relative;
}
.page3 #img1 {
  height: 60px;
  position: absolute;
  left: 15%;
  top: 25%;
}
.page3 #img2 {
  height: 60px;
  position: absolute;
  bottom: 25%;
  right: 15%;
}
.page3 p {
  width: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 32px;
  font-weight: 600;
}
.page4 {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.elem {
  height: 70%;
  width: 20%;
  color: #fff;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 26px;
  position: relative;
}
.elem h2 {
  height: 100%;
  width: 100%;
  background-color: #95c11e;
  display: flex;
  justify-content: center;
  transition: all ease 0.3s;
  align-items: center;
  border-radius: 20px;
  color: #000;
  font-weight: 800;
  position: absolute;
  z-index: 9;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
}
.elem h2:hover {
  color: #fff;
  background: transparent;
}
.elem:hover img {
  scale: 1;
}
.page4 h1 {
  font-size: 85px;
  font-weight: 800;
  color: #000;
  position: absolute;
  top: -28%;
  -webkit-text-stroke: 2px #fff;
}
.footer{
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: linear-gradient(to left bottom,#119f3a 0%,#A3d421 80%);
}
.footer #img1{
  height: 100%;
  width: 24%;
  object-fit: cover;
  position: relative;
}
.footer #img2{
  height: 200px;
  width: 200px;
  position: absolute;
  left: 130px;
}
.footer p{
  width: 18%;
  height: 30%;
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    height: auto;
  }

  .cards-containor {
    flex-direction: column;
    gap: 30px;
  }

  .elem {
    width: 90%;
  }

  .green-div {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .page3 p {
    width: 80%;
    font-size: 20px;
  }
}

